html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

::selection {
background: #08e2ff; /* Safari */
}
::-moz-selection {
background: #0afdf1; /* Firefox */
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    min-width: 1200px;
    font-family: 'Montserrat';
    background-color: rgb(240, 255, 255);
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;  /*отменяет маркеры*/
}

.btn-reset {
   padding: 0;
   border: none;
   background-color: transparent; 
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;  /*auto чтоб центрировался по горизонтали*/
}

.section-title {
    margin: 0;
    margin-bottom: 40px;
}

.section-descr {
    margin: 0;
    margin-bottom: 50px;
}

.section-offset {
    padding-top: 87px;
    padding-bottom: 160px;
}



/*header*/
.header {
    padding: 36px 0;
}

.header-container {
    align-items: center;
}

.header-logo {
    margin-right: auto;  /* распределяет по горизонтали, прижав меню навигации вправо*/
}

.header-nav {
    margin-right: 52px;   /*расстояние между навигацией и кнопкой*/
}

.header-list-item {
    margin-right: 30px;
    padding: 10px;
    border: 1px;
}

.header-list-item:hover {
    color: #3172B9;
    outline: groove;
}



.header-btn{
    background-image: linear-gradient(to right, #45aeeb 0%, #4830F0 51%, #1742a7 100%);
    width: 150px;
    height: 50px;
    border-radius:3px;
    transition: .5s;
    color: white;
}
.header-btn:hover {
  background-image:  linear-gradient(to right, #2a88be 0%, #2e1ba3 51%, #152f6d 100%);;
}


/*hero*/
.hero {
    padding: 100px 0;
    background-image: linear-gradient(to right, rgb(240, 255, 255) 0%, rgba(240, 255, 255, 0) 100%),  url(../img/hero.jpg);
}

.hero-content {
    max-width: 50%;
    flex-direction: column;
    align-items: flex-start;
}

.hero-title {
    margin: 0;
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 40px;
    font-style: normal;
}

.hero-descr {
    margin: 0;
    margin-bottom: 34px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
}

.hero-btn {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #45aeeb 0%, #4830F0 51%, #0b1b3f 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.hero-btn:hover {
  background-position: right center;
}

.hero-secure{
    color: #2e2e2ef5;
    font-size: 11px;
    margin-left: 20px;
}

.hero-secure-img{
    width: 8px;
}

/*services*/
.services-title {   /*заголовок*/
    text-align: center;
    
}

.services-descr {   /*параграф-абзац*/
    text-align: center;
}

.services-item {
    flex-direction: column; /*меняем главную ось*/
    align-items: center;    /*отцентруем*/
    padding: 30px;
    width: 270px;
    border-radius: 3px; 
    box-shadow: 10px 10px 10px  #001e6494;
    transition: .5s;
}

.services-item:hover{
    box-shadow: 0px 0px 5px #001e6494;
}

/*далее выставим отступ между нашими карточками в services, 
но нужно учитывать, что карточек может стать больше поэтому зададим справа отступ 30, 
но у каждой четвертой будем обнулять*/

.services-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.services-item-icon {   /*отступ снизу иконки*/
    margin-bottom: 25px;  
}

.services-item-title {
    margin: 0;
    margin-bottom: 15px;
}

.services-item-descr {
    margin: 0;
    text-align: center;  /*текст по центру*/
}

/*Article*/
.articles-list {
    flex-wrap: wrap;
}
.articles-item {
    width: 570px;
    margin-bottom: 30px;
    border-radius: 3px;
    outline: 1px solid #cfcfcf83;
    /*outline: 1px solid coral; для того, чтобы мы могли визуально видеть границы*/
}

.articles-item:not(:nth-child(2n)) {
    margin-right: 30px;
    
}

.blog-preview{
    box-shadow: 10px 5px 5px #001e6494;
    transition: .5s;
}

.blog-preview:hover{
    box-shadow: 0px 0px 5px #001e6494;
}

.blog preview-image {
    object-fit: cover;   /*чтобы картинка занимала всё место для нее отведенное, 
    даже если картинка будет неправильной пропорции*/
}

.blog-preview-text {
    padding: 30px;
}

.blog-preview-time {
    display: block;
    margin-bottom: 5px;
}

.blog-preview-title {
    margin: 0;
    margin-bottom: 15px;
}

.blog-preview-descr {
    margin: 0;
}

/*clients*/
.clients-item {
    flex-direction: column;
    width: 370px;
    padding: 50px 36px;
    padding-bottom: 30px;
    border-radius: 3px;
    outline: 1px solid #cfcfcf83;
    /*outline: 1px solid coral; для того, чтобы мы могли визуально видеть границы*/
}

.clients-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.clients-item-descr {
    margin: 0;
    margin-bottom: 30px;
}

.clients-user {
    margin-top: auto;
}

.clients-avatar {
    flex-shrink: 0;
    width: 67px;
    margin-right: 17px;
}

.clients-name {
    margin-bottom: 5px;
}

/*contacts*/
.contacts-address {
    font-style: normal;
}

.contacts-item {
    flex-direction: column;
    width: 370px;
    /*outline: 1px solid coral; */
}

.contacts-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.contacts-item-caption {
    margin-bottom: 30px;
}

.contacts-item-text {
    margin: 0;
}

.contacts-item-link:not(:last-childs) {
    margin-bottom: 5px;
}

/*footer*/
.footer {
    padding: 42px 0;
}

.footer-container {
    align-items: center;
    justify-content: space-between;
}

.footer-left,
.footer-right {
    align-items: center;
}

.footer-logo {
    margin-right: 25px;
}

.footer-item:not(:last-child) {
    margin-right: 28px;
}

/*-----------adaptive-------------*/
@media(min-width:0) and (max-width:320px){

    



}